# Qualtrics
qualtrics_base_url: ""
qualtrics_api_token: ""
qualtrics_org_id: ""

# Postgres
pg_password: ""

# Capernaum
cap_password: ""
jwt_secret: ""

# Mail
mail_host: ""
mail_port: 123
mail_user: ""
mail_pass: ""

